

  <div class="col-md-4 offset-md-2 col-lg-8">
    <div class="card">
      
      <div class="card-body">
        <form >
          
          Insira o Link da Api
          <div class="form-group">
              <input type="text" name="titulo" [(ngModel)]="dado.titulo" placeholder="Titulo" class="form-control">
            </div>
          <div class="form-group">
            <input type="url" name="url_endp" [(ngModel)]="dado.url_endp" placeholder="URL" class="form-control">
          </div>


          <button class="btn btn-success btn-block" (click)="edit ? updateDado() : saveNewDado()">
            Save
          </button>
        </form>
      </div>
    </div>
  </div>
